{% extends 'Operations/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
{% endblock %}
{% block title %}
    Admin
{% endblock %}


{% block content %}
<div class="bottom-section">
    <div class="action-bar">
        <div class="admin-stats">
            <div class="stats-item">
                <h5>Goverment Activities in the past Month: </h5>
                <span>10</span>
            </div>

            <div class="stats-item">
                <h5>Government Officials: </h5>
                <span>{{gov_officials_count}}</span>
            </div>

            <div class="stats-item">
                <h5>Staff Members: </h5>
                <span>{{staff_members}}</span>
            </div>
        </div>
    </div>
    <div class="activity-section">
        <div class="activities">
            <h3 class="heading">Goverment Officials</h3>
            {% for official in gov_officials %}
                <div class="activity">
                    

                    <div class="activity-content">
                        <div class="activity-header-details">
                            <h5 class="user"><span>{{official.user.first_name}}</span> {{official.user.last_name}}</h5>
                            <p class="sector"><a href="{% url 'view_updates' %}">{{official.role}}</a></p>
                            <p class="contact">{{official.office_contact_number}}</p>    
                            
                        </div>
                        
                        <div class="activity-footer">
                            <a class="btn green" href="">Authorise</a>
                            <a class="btn red" href="">Unathosire</a>
                        </div>
                    </div>
                    
                </div>
            {% endfor %}
        </div>

        <div class="information-tab">

            <div class="user">
                <h5>Latest Government Activities</h5>
               <ul>
                    {% for user in user_list%}
                    <li>
                        <div class="user-wrapper">
                            <div class="user-info">
                                <p>{{user.username}}</p>
                                <p>{{user.first_name}}</p>
                                <p>{{user.last_name}}</p>
                                <p></p>
                                <p class="last-seen">Last seen: {{user.last_login}}</p>
                            </div>
                            <div class="user-actions">
                                {% if user.is_staff %}
                                    <a class="btn btn-read-more" href="{% url 'demote' user.id %}">Demote</a>
                                {% else %}
                                    <a class="btn btn-read-more" href="{% url 'promote' user.id %}">Promote</a>
                                {% endif %}
                                <a class="btn btn-read-more" href="">Delete</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
               </ul>
            </div>
            


        </div>
    </div>
</div>
{% endblock %}