.container {
    width: 98%;
    padding:0;
}
.activity-section{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.activities{
    width:50%;
    position:relative;
}
.heading {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.activity {

    height: auto;
    align-items: center!important;
    border: 1px solid rgb(233, 233, 233);
    margin: 10px auto;
}
.sector a {
    text-decoration: none;
    color: orange;
}
.activity-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    
}
.activity-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.activity-footer a {
    width:100%;
    margin:5px 0;
}
.activity-header-details {
 
}

.information-tab {
    width:40%;
}
.user {
    width:90%;
    align-items:center!important;
}
.user ul{
    list-style-type: decimal;
    align-items: center;
}

.user-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgb(227, 227, 227);
    position: relative;
}

.user-actions {
    display: flex;
    flex-direction: column;
}
.bottom-section {
    width: 100%;
    padding: 20px 10%;
    padding-top: 0;
    margin-top: 50px;

}
.user-actions a {
    margin: 5px 0;
}
.user-info {
    display: grid;
    grid-template-columns: 40% 40%;
    align-items: center;
    
}
.last-seen {
    position: absolute;
    bottom:0;
    padding-bottom: 10px;
    margin-top: 10px;
    display: block;
}
.user-info p{
    line-height: .7;
    color: rgb(127, 127, 127);
    font-weight: 500;
}





.admin-stats {
    width: 35%;
    margin: 0 auto;
}
.stats-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: solid 1px orange;
    padding: 0 5px;
}

.green,
.red{
    background-color: orange;
    color: white;
    font-weight: 600;
}
.green:hover  {
    background-color: green!important;
    color: white!important;
}

.red:hover  {
    background-color: red!important;
    color: white!important;
}

